{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <caption>
                        <strong> {{ name }} </strong> - {{ type }} <em> ({{ owner }}) </em>
                    </caption>

                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Notes</th>
                        <th>Badges</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for member in crew %}
                        <tr class="
                        {% if member.status == 'good' %} bg-primary {% endif %}
                        {% if member.status == 'better' %} bg-success {% endif %}
                        {% if member.status == 'best' %} bg-warning {% endif %}
                        {{ cycle(['odd', 'even'], loop.index0 ) }}
                    ">
                            <td> {{ loop.index }} </td>
                            <td><strong>{{ member.name }}</strong></td>
                            <td>{{ member.role }}</td>
                            <td>{{ member.status }}</td>
                            <td><em>{{ member.notes }}</em></td>
                            <td>
                                {% for badge in member.badges %}
                                    <span class="btn-sm btn-success {{ badge }}"> {{ loop.parent.loop.index ~ '-'~ loop.index ~ '-'  ~ badge }}</span>
                                {% endfor %}
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>


                </table>
            </div>
        </div>
    </div>
{% endblock content %}
