<div class="col-6">
    <h2>1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis ipsum itaque vel? Eius inventore
        numquam officiis omnis tempore unde?</p>
</div>
<div class="col-6">
    {% block col2 %}
    <h2>1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis ipsum itaque vel? Eius inventore
        numquam officiis omnis tempore unde?</p>
    {% endblock %}
</div>