<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


<style>
    .even { background-color: lightblue; }
    .btn-sm { margin-right: 0.5em; }
    .btn-sm.gold { background-color: gold }
    .btn-sm.silver { background-color: silver }
    .btn-sm.bronze { background-color: saddlebrown }
</style>