<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.twig' %}
</head>
<body>

{% embed 'crew.twig' %} {% endembed %}

    <div class="container">
        <div class="row">
            {% embed 'grid.twig' %}
                {% block col2 %}

                    <div class="row">
                        <div class="col-6">
                            <h2>2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, nobis.</p>
                        </div>
                        <div class="col-6">
                            <h2>3</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, nobis.</p>
                        </div>
                    </div>

                {% endblock %}

            {% endembed %}
        </div>
    </div>


{% include 'footer.twig' %}
</body>
</html>